workflow/Upwork Automation (1).json
{
  "name": "Upwork Automation",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/neatrat~upwork-job-scraper/run-sync-get-dataset-items?token=apify_api_UlJJwXU3052FxZpcrpZAXgWki79rnb2CD2ZS",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "apify_api_UlJJwXU3052FxZpcrpZAXgWki79rnb2CD2ZS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"n8n\",\n  \"maxJobAge\": {\n    \"value\": 6,\n    \"unit\": \"hours\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        288
      ],
      "id": "0a65d0b2-2b85-4ddd-89ef-414cb053cc5a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbd4dbbe-4f44-4db6-b155-534e848b13a9",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "1e6372fe-feb6-4f6b-bd21-5d78bf26b4b7",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "f487bf4c-eece-435e-8ac4-39028cb262fe",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "7d870236-fdbb-4382-bafd-9da2cfcd07aa",
              "name": "relativeDate",
              "value": "={{ $json.relativeDate }}",
              "type": "string"
            },
            {
              "id": "53be8665-16bb-42a0-8529-0f3ede70137e",
              "name": "jobType",
              "value": "={{ $json.jobType }}",
              "type": "string"
            },
            {
              "id": "f7d6d248-2193-4684-8406-5b112a145abf",
              "name": "experienceLevel",
              "value": "={{ $json.experienceLevel }}",
              "type": "string"
            },
            {
              "id": "0d08a144-9edf-4745-8489-4350976cb5f0",
              "name": "Posted",
              "value": "={{ $json.relativeDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        288
      ],
      "id": "08424e86-65a0-477e-83e1-267752b567cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        512
      ],
      "id": "dde824c0-415d-4ae4-9b91-337ea5f5f1e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2shMWGpDUsjAPKTL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": \"X/10\",\n  \"priority\": \"High | Medium | Low\",\n  \"reason\": \"One short paragraph explaining why\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        512
      ],
      "id": "f61facdf-3ded-4735-b713-451aea3c9b02",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.description }}\n{{ $json.url }}\n{{ $json.relativeDate }}\n{{ $json.jobType }}\n{{ $json.experienceLevel }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert Upwork Job Scoring Agent trained to evaluate jobs specifically for Morgan (an automation builder specializing in n8n, AI automations, workflow systems, voice agents, and Twilio/Retell).\n\nYour task is to analyze the job below and score how good it is for Morgan RIGHT NOW based on his current goals:\n\n- get quick wins\n- land fast jobs\n- build portfolio\n- collect testimonials\n- increase Upwork profile history\n- avoid time-wasting clients\n- focus on automation, AI, workflow, systems, voice agents, CRM, Twilio/Retell, n8n-related work\n\n### Output Format JSON (required):\n{\n  \"score\": \"X/10\",\n  \"priority\": \"High | Medium | Low\",\n  \"reason\": \"One short paragraph explaining why\"\n}\n\n### Scoring rules:\nHIGH PRIORITY (8–10/10) if:\n- Job is clearly automation-related (n8n, automation, workflow, AI, chatbot, voice agent, Twilio, Retell, Zapier, Make, API integrations)\n- Client looks easy to work with\n- Budget is reasonable\n- Job can be completed quickly (under 48 hours)\n- Client has history OR high payment verification\n\nMEDIUM PRIORITY (5–7/10) if:\n- Some automation work but unclear scope\n- Job might be longer than ideal\n- Client is new with no history\n- Budget is low but still worth doing for profile building\n\nLOW PRIORITY (1–4/10) if:\n- Not automation related\n- Job looks like a headache\n- Client unclear / bad reviews / very low rate\n- WordPress / graphic design / irrelevant work\n- Long-term dev projects unsuitable for quick wins\n\n### Job Data:\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nURL: {{ $json.url }}\nPosted: {{ $json.relativeDate }}\nJob Type: {{ $json.jobType }}\nExperience Level: {{ $json.experienceLevel }}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        464,
        288
      ],
      "id": "5f93686b-2ef6-4ebd-b6f5-4177f33f66ac",
      "name": "Analyse Job"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appyuv9BbIkoq7rlo",
          "mode": "list",
          "cachedResultName": "Road To Bali",
          "cachedResultUrl": "https://airtable.com/appyuv9BbIkoq7rlo"
        },
        "table": {
          "__rl": true,
          "value": "tblcdJbAa3mhGHBNP",
          "mode": "list",
          "cachedResultName": "Upwork Leads",
          "cachedResultUrl": "https://airtable.com/appyuv9BbIkoq7rlo/tblcdJbAa3mhGHBNP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Edit Fields').item.json.title }}",
            "Description": "={{ $('Edit Fields').item.json.description }}",
            "URL": "={{ $('Edit Fields').item.json.url }}",
            "Score": "={{ $('Analyse Job').item.json.output.score }}",
            "Priority": "={{ $('Analyse Job').item.json.output.priority }}",
            "Reason": "={{ $('Analyse Job').item.json.output.reason }}",
            "Proposal": "=Hey! I can do this for you.\n\nI recorded a short loom for you :)",
            "Time Job Created": "={{ $('Edit Fields').item.json.Posted }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time Job Created",
              "displayName": "Time Job Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proposal",
              "displayName": "Proposal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        816,
        288
      ],
      "id": "08f9faac-214c-493c-914c-5e00f8112edb",
      "name": "Create a record"
    },
    {
      "parameters": {
        "content": "## Upwork Automation",
        "height": 624,
        "width": 1328,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        112
      ],
      "typeVersion": 1,
      "id": "43d10bb1-8a66-4c14-85a2-31cbd27851d6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        288
      ],
      "id": "35a97fc3-839a-4089-94d4-a8026994ff98",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Analyse Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse Job",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyse Job",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Job": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1fe5979d-e8b4-411a-92f8-d3782036b0a3",
  "meta": {
    "instanceId": "81b8a03e94fa45ef0d3f091b8fbb7c5351f8176ebdf2e6bb15acedc515c90d6e"
  },
  "id": "QL4S--gjcIp9zzq1OJ2xz",
  "tags": []
}